<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div th:insert="fragments/navigator :: bootstrap" />
</head>

<body>
    <div th:insert="fragments/navigator :: navbar" />
    </div>
    <div class="container text-center">
        <h1>Books</h1>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Author</td>
                    <td>Price</td>
                    <td>Quantity</td>
                </tr>
            </thead>
            <tbody>
                <div th:each="book : ${books}">
                    <tr>
                        <!-- data table from backend -->
                        <td th:text="${book.getId()}" />
                        <td th:text="${book.getName()}" />
                        <td th:text="${book.getAuthor()}" />
                        <td th:text="${book.getPrice()}" />
                        <td th:text="${book.getQuantity()}" />


                        <!-- editing section  -->
                        <td>
                            <a class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#'+book.getId()}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a>
                        </td>

                        <!-- Modal -->
                        <div class="modal fade position-absolute mt-5" th:id="${book.getId()}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Book</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form th:action="@{/update/{id}(id=${book.getId()})}" method="post">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="id" class="form-label">Book Price</label>
                                                <input type="number" th:value="${book.getId()}" name="id"
                                                    class="form-control" id="id" aria-describedby="emailHelp" disabled>
                                            </div>

                                            <div class="mb-3">
                                                <label for="name" class="form-label">Book Name</label>
                                                <input type="text" th:value="${book.getName()}" name="name"
                                                    class="form-control" id="name" aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="author" class="form-label">Book Author</label>
                                                <input type="text" th:value="${book.getAuthor()}" name="author"
                                                    class="form-control" id="author" aria-describedby="emailHelp">
                                            </div>

                                            <div class="mb-3">
                                                <label for="price" class="form-label">Book Price</label>
                                                <input type="number" th:value="${book.getPrice()}" name="price"
                                                    class="form-control" id="price" aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="quantity" class="form-label">Book Quantity</label>
                                                <input type="number" th:value="${book.getQuantity()}" name="quantity"
                                                    class="form-control" id="quantity" aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- deletion section -->
                        <td>
                            <a class="btn btn-outline-danger btn-sm" th:href="@{/delete/{id}(id=${book.getId()})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</body>

</html>